<div class="w3-container w3-center">
  <div class="d-flex justify-content-center">
    <form [formGroup]='stateForm' class="form-inline" autocomplete="new-password" novalidate>
      <input id='search' placeholder="Search for a Course"
             formControlName='search' (click)=' openDropDown() '
             class=' input-underline search-bar form-control' style="max-width:200px;" type='search'>
      <button for="search" class="btn btn-outline-primary" disabled>
        <i class='fa fa-search'></i>
      </button>
    </form>
  </div>

    <div class="d-flex justify-content-center">
      <div *ngIf='showDropDown' class='search-drop-down '>
        <div (click)='selectValue(s.name)' class='search-results '
             *ngFor="let s of Courses | searchFilter: getSearchValue()">
          <a class="form-group w3-row">
            <div class="form-inline">
              <img src="{{s.imageUrl}}" class="img-thumbnail"
                   style="max-width:50px;max-height:50px;" />
              <p class="p-2">{{s.name}}</p>
            </div>
          </a>
        </div>
      </div>
  </div>
</div>

<div class="w3-container w3-margin" (click)="closeDropDown()">

  <p *ngIf="!Courses"><em>Sorry but there is no courses assigned yet.</em></p>

  <div *ngIf="Courses" class="w3-container">
    <div *ngFor="let item of Courses | searchFilter: getSearchValue()" class="w3-content">
      <div class="w3-row w3-margin form-group w3-container">
        <div class="w3-quarter">
          <img src="{{ item.imageUrl }}" alt="{{ item.name }}" style="width:100px; max-height:200px;" class="w3-image">
        </div>
        <div class="w3-threequarter w3-container">
          <h2 class="h2">{{ item.name }}</h2>
          <p class="p-2">{{ item.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
